# =========================
# BUILD OUTPUT (C/C++/eBPF)
# =========================

# Object files
*.o
*.ko
*.obj
*.elf
*.out
*.a
*.so
*.so.*
*.dll
*.dylib
*.exe

# Kernel / eBPF artifacts
*.mod*
*.cmd
.tmp_versions/
Module.symvers
modules.order

# Precompiled headers
*.gch
*.pch

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.dwo

# =========================
# BINARIES
# =========================

bin/
*/bin/
**/bin/

# specific project binaries
user/register_vm
**/*.loader
**/*.skel.h
pvsched-ebpf/host/h2g_msg_timer_loader
test/h2g_read_test
test/omp_test

# =========================
# VM / images
# =========================
*.qcow2
scripts/*.qcow2
*.iso

# Generated BPF headers
vmlinux.h
